@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="/img/Group 7LogoBranco.png" />
    <h2 class="display-4">Bem Vindo ao sistema TechPays de Automatização</h2>
   
</div>
